polkit.addRule(function(action, subject) {
    if (subject.isInGroup("users")) {
        if (
            action.id == "org.freedesktop.login1.reboot" ||
            action.id == "org.freedesktop.login1.power-off" ||
            action.id == "org.freedesktop.login1.suspend" ||
            action.id == "org.freedesktop.login1.hibernate"
        ) {
            return polkit.Result.YES;
        }
    }
});
