window {
    font-family: "JetBrainsMono Nerd Font";
    background-color: rgba(26, 26, 26, 0.95);
    border-radius: 8px;
    border: 1px solid rgba(74, 157, 74, 0.3);
    font-size: 14px;
    color: #ffffff;
}

#input {
    padding: 8px;
    border: none;
    background-color: #242424;
    color: #ffffff;
    border-radius: 4px;
}

#entry:selected {
    background-color: rgba(74, 157, 74, 0.3);
    color: #ffffff;
}

#entry:hover {
    background-color: rgba(61, 122, 61, 0.2);
}
