---
# /etc/hosts management playbook
# Usage: ansible-playbook playbooks/hosts.yml -e local_host=ndelucca-acer
#
# The local_host variable should match the inventory hostname of the machine
# you're running from. This host will use connection: local (no SSH).

# Update /etc/hosts on local machine (no SSH required)
- name: Manage /etc/hosts on local machine
  hosts: "{{ local_host | default('none') }}"
  connection: local
  gather_facts: true
  become: true

  tasks:
    - name: Add inventory hosts to /etc/hosts (local connection)
      ansible.builtin.blockinfile:
        path: /etc/hosts
        block: |
          192.168.10.1 ndelucca-router
          {% for host in groups['all'] %}
          {{ hostvars[host]['ansible_host'] }} {{ host }}
          {% endfor %}
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Inventory Hosts"
        backup: true
        create: false
        state: absent

# Update /etc/hosts on remote hosts (via SSH)
- name: Manage /etc/hosts on remote hosts
  hosts: all:!{{ local_host | default('none') }}
  gather_facts: true
  become: true

  tasks:
    - name: Add inventory hosts to /etc/hosts (SSH connection)
      ansible.builtin.blockinfile:
        path: /etc/hosts
        block: |
          192.168.10.1 ndelucca-router
          {% for host in groups['all'] %}
          {{ hostvars[host]['ansible_host'] }} {{ host }}
          {% endfor %}
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Inventory Hosts"
        backup: true
        create: false
        state: absent
