[Unit]
Description=Klipper 3D Printer Firmware SV1
Documentation=https://www.klipper3d.org/
After=network-online.target
Wants=udev.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/mainsail.local/klipper
EnvironmentFile=/var/www/mainsail.local/printer_data/systemd/klipper.env
ExecStart=/var/www/mainsail.local/klippy-env/bin/python $KLIPPER_ARGS
Restart=always
RestartSec=10