[Unit]
Description=Moonraker API Server
Documentation=https://moonraker.readthedocs.io/
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=mainsail
Group=mainsail
WorkingDirectory=/opt/mainsail/moonraker
EnvironmentFile=/opt/mainsail/printer_data/systemd/moonraker.env
ExecStart=/opt/mainsail/moonraker-env/bin/python $MOONRAKER_ARGS
Restart=always
RestartSec=10