[Unit]
Description=Moonraker API Server
Documentation=https://moonraker.readthedocs.io/
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/mainsail.local/moonraker
EnvironmentFile=/var/www/mainsail.local/printer_data/systemd/moonraker.env
ExecStart=/var/www/mainsail.local/moonraker-env/bin/python $MOONRAKER_ARGS
Restart=always
RestartSec=10
